.list-group-item {
  padding: 10px 20px;
  border-bottom: 1px solid #85898e;
}

.list-group-item span {
  line-height: 35px;
  font-size: 20px;
  min-width: 550px;
}

.list-group-item.increase .list-group-item-label {
  color: #e09f3e;
  font-size: 2rem;
}
